body{
    background:url("../img/BG4.jpg")  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
}
*{
    margin: 0px;
    padding: 0px;
}
/*甯冨眬寮�濮�*/
#login_dialog {
    position: fixed;
    left: 48%;
    top: 50%;
    background-color: #303a40;
    width: 500px;
    margin-left: -200px;
    margin-top: -150px;
    font-family: "榛戜綋";
    /*绂佹澶嶅埗绮樿创*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
}
.login_error{
 text-align:center;
	
}
.register_dialog_title {
    height: 35px;
    line-height: 35px;
    margin: 0 5px;
    text-align: center;
}

.register_dialog_info {
    float: left;
    margin-left:10px;
    color: #fff;/*//#fff*/
    margin-top: 5px;
    font-size: 20px;
   left: 50%;
}
#register_dialog {
    position: fixed;
    left: 40%;
    top: 40%;
    background-color: #303a40;
    width: 500px;
    /* 	height: 600px; */
    margin-left: -200px;
    margin-top: -200px;
    font-family: "榛戜綋";
    -moz-user-select:none; /*鐏嫄*/
    -webkit-user-select:none; /*webkit娴忚鍣�*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*鏃╂湡娴忚鍣�*/
    user-select:none;
}

.register_dialog_info {
    float: left;
    margin-left:10px;
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
}
.dialog_close {
    cursor: pointer;
    width: 40px;
    height:40px;
    border-radius:25px;
    float: right;
    line-height:40px;
    font-size: 20px;
    color: #d8dadb;
    font-family: "寰蒋闆呴粦";
    text-align: center;
    cursor:center;
}
form{padding: 20px 0px;}
ul li {list-style: none;}
.sub {
    text-align: center;
}
.sub input {
    display: inline-block;
    width: 300px;
    background-color: rgb(255, 109, 11);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: 榛戜綋;
    outline: none;
    border: none;
    margin: auto;
}
.dialog_close:hover {
    background-color: #566
}
input[type = "submit"]:hover{cursor: pointer;}
/*甯冨眬缁撴潫*/
.reg-box { padding-left: 30px; }

.reg-box li { line-height: 44px; width: 500px; overflow: hidden; }

.reg-box li label { width: 68px; height: 50px; float: left; line-height: 50px; text-align: right; padding-right: 20px; }

.reg-box li input,.reg-box li select{ padding: 6px 0; font-size: 16px; width: 296px; height: 28px; line-height: 28px; border: 1px solid #dddddd; text-indent: 0.5em; float: left; }

.reg-box li select option{font-size:16px;}

.registered .btn a { background: #ff7200; margin-left: 110px; }

/*楠岃瘉鐮�*/
.add { width: 128px; height: 44px; float: left; _display: inline; cursor: pointer; margin-left: 20px; }

.reg-box li .sradd { width: 148px; text-indent: 4px; font-size: 14px; }

.reg-box li .input-code { width: 106px; padding: 10px; font-family: Arial; font-style: italic; color: red; letter-spacing: 1px; cursor: pointer; text-align: center; text-indent: 0; }

.yzm,.phoKey { background: #ff7200; text-align: center; line-height: 44px; color: #fff; }

.phoKey{letter-spacing: 3px; font-size:18px;}

.yzmc { background: #dddddd; text-align: center; line-height: 44px; color: #999; }

.error { clear:both;display:block;color: red; padding-left: 90px; padding-bottom:5px;height:20px;float: left; font-size:12px;line-height: 20px;}

input { background-color: #fff; outline: none; }

.reg-box li { width: auto; }

.reg-box li input.errorC, .errorC{ border: 1px solid red; }

.reg-box li input.checkedN , .checkedN{ border: 1px solid #1ece6d; }


/* 这是后台框架的css */
.beg-login-box {
	width: 450px;
	height: 350px;
	margin: 20% auto;
	background-color: rgba(255, 255, 255, 255);
	border-radius: 10px;
}

.beg-login-box header {
	height: 39px;
	padding: 10px;
	border-bottom: 1px solid aliceblue;
}

.beg-login-box header h1 {
	text-align: center;
	font-size: 25px;
	line-height: 40px;
}

.beg-login-box .beg-login-main {
	height: 185px;
	padding: 30px 90px 0;
}

.beg-login-main .layui-form-item {
	position: relative;
}

.beg-login-main .layui-form-item .beg-login-icon {
	position: absolute;
	color: #000000;
	top: 10px;
	left: 10px;
}

.beg-login-main .layui-form-item input {
	padding-left: 34px;
}

.beg-login-box footer {
	height: 35px;
	padding: 20px 20px 0 20px;
}

.beg-login-box footer p {
	line-height: 40px;
	text-align: center;
	font-size: 25px;
}

.beg-pull-left {
	float: left !important;
}

.beg-pull-right {
	float: right !important;
}

.beg-clear {
	clear: both;
}

.beg-login-remember {
	line-height: 38px;
}

.beg-login-remember .layui-form-switch {
	margin-top: 0px;
}

.beg-login-code-box {
	position: relative;
	padding: 10px;
}

.beg-login-code-box input {
	position: absolute;
	width: 100px;
}

.beg-login-code-box img {
	cursor: pointer;
	position: absolute;
	left: 115px;
	height: 38px;
}


